.brands-slide {
	border-top: 1px dashed #dadada;
	border-bottom: 1px dashed #dadada;
	padding: 0 25px;
	margin-bottom: 30px;

	// .brands-slide__container
	&__container {
		position: relative;
	}

	// .brands-slide__body
	&__body {
		//
		cursor: grab;
		overflow: hidden;
		margin: 0 40px;
	}

	// .brands-slide__slide
	&__slide {
		user-select: none;
		padding: 25px 0;
		@include flex-align-center-justify-center;
		cursor: grab;
		&:active {
			cursor: grabbing;
		}

		img {
			text-align: center;
			@extend %graystyle;
			max-width: 100%;
			max-height: 57px;
			transition: all 0.1s ease 0s;
			@include _920 {
				-webkit-filter: grayscale(0);
				-moz-filte: grayscale(0);
				-o--filter: grayscale(0);
				filter: grayscale(0);
			}
			&:hover {
				@extend %graystyleoff;
			}
		}
	}

	// .brands-slide__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		margin-top: -15px;
		// .brands-slide__arrow_prev
		&_prev {
			left: 0;
		}

		// .brands-slide__arrow_next
		&_next {
			right: 0;
		}
	}
}
