.mainslide {
	// .mainslider__body
	&__body {
		overflow: hidden;
	}
	// .mainslide__slide
	&__slide-wrapper {
		position: relative;
	}
	// .mainslide__content
	&__content {
		position: relative;
		z-index: 3;
	}

	// .mainslide__transparent-background
	&__transparent-background {
		position: absolute;
		z-index: 2;
		width: 320px;
		height: 100%;
		background-color: rgba(225, 225, 225, 0);
		background-image: linear-gradient(
			90deg,
			#e1e1e183 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}
	// .mainslide__dots
	&__dots {
		@include flex-justify-center;
		position: relative;
		z-index: 4;
		margin-top: -27.5px;
		counter-reset: item;
		@include _920-1170 {
			margin-top: calc(
				-18.44px + (-27.5 - (-18.44)) * ((100vw - 920px) / (1170 - 920))
			);
		}
		@include _920 {
			margin-top: calc(
				-18.44px + (-27.5 - (-18.44)) * ((100vw - 490px) / (920 - 490))
			);
		}

		.swiper-pagination-bullet {
			margin: 0 22.5px;
			width: 55px;
			height: 55px;
			border: 2px solid #fff;
			border-radius: 50%;

			position: relative;
			overflow: hidden;

			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			@include _920-1170 {
				width: calc(36.88px + (55 - 36.88) * ((100vw - 920px) / (1170 - 920)));
				height: calc(36.88px + (55 - 36.88) * ((100vw - 920px) / (1170 - 920)));
			}
			@include _920 {
				width: calc(36.88px + (55 - 36.88) * ((100vw - 490px) / (920 - 490)));
				height: calc(36.88px + (55 - 36.88) * ((100vw - 490px) / (920 - 490)));
				margin: 0 calc(15px + (22.5 - 15) * ((100vw - 490px) / (920 - 490)));
			}
			&::after {
				@include flex-align-center-justify-center;
				opacity: 0;
				transition: all 0.9s ease-in-out;
				font: {
					size: 16px;
					weight: 900;
				}
				color: #fffefe;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #f68038;
				counter-increment: item;
				content: counter(item);

				@include _920-1170 {
					font-size: calc(12px + (16 - 12) * ((100vw - 920px) / (1170 - 920)));
				}
				@include _920 {
					font-size: calc(12px + (16 - 12) * ((100vw - 490px) / (920 - 490)));
				}
			}
		}
		.swiper-pagination-bullet-active {
			border: 3px solid #fff;
			&::after {
				opacity: 1;
			}
		}
	}
}

.content-mainslide {
	min-height: 135px;
	margin: 18px 0 50px 35px;
	@include _920-1170 {
		margin-top: calc(10px + (18 - 10) * ((100vw - 920px) / (1170 - 920)));
		margin-bottom: calc(45px + (50 - 45) * ((100vw - 920px) / (1170 - 920)));
		margin-left: calc(20px + (35 - 20) * ((100vw - 920px) / (1170 - 920)));
	}

	@include _920 {
		margin-top: calc(10px + (18 - 10) * ((100vw - 490px) / (920 - 490)));
		margin-bottom: calc(30px + (70 - 30) * ((100vw - 490px) / (920 - 490)));
		margin-left: calc(10px + (35 - 10) * ((100vw - 490px) / (920 - 490)));
	}
	// .content-mainslider__title
	&__title {
		font-size: 48px;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 43px;
		color: #333333;
		margin-bottom: 45px;
		span {
			display: block;
			color: #f68038;
		}
		@include _920-1170 {
			font-size: calc(34px + (48 - 34) * ((100vw - 920px) / (1170 - 920)));
			line-height: calc(31px + (43 - 31) * ((100vw - 920px) / (1170 - 920)));
			margin-bottom: calc(30px + (45 - 30) * ((100vw - 920px) / (1170 - 920)));
		}
		@include _920 {
			font-size: calc(26px + (48 - 26) * ((100vw - 490px) / (920 - 490)));
			line-height: calc(24px + (43 - 24) * ((100vw - 490px) / (920 - 490)));

			margin-bottom: calc(15px + (45 - 15) * ((100vw - 490px) / (920 - 490)));
		}
	}

	// .content-mainslider__text
	&__text {
		font: {
			size: 116.666667%; /* 14/12 */
			weight: 900;
		}

		margin-bottom: 15px;
		line-height: 24px;
		text-transform: uppercase;
		color: #333333;
		@include _920-1170 {
			margin-bottom: calc(0px + (15 - 0) * ((100vw - 920px) / (1170 - 920)));
			font-size: calc(12px + (14 - 12) * ((100vw - 920px) / (1170 - 920)));
			line-height: calc(16px + (24 - 16) * ((100vw - 920px) / (1170 - 920)));
		}

		@include _920 {
			margin-bottom: calc(5px + (15 - 5) * ((100vw - 490px) / (920 - 490)));
			font-size: calc(12px + (15 - 12) * ((100vw - 490px) / (920 - 490)));
			line-height: calc(16px + (24 - 16) * ((100vw - 490px) / (920 - 490)));
		}

		p:nth-child(1) {
			span {
				color: #f68038;
				font-size: 18px;
				@include _920-1170 {
					font-size: calc(16px + (18 - 16) * ((100vw - 920px) / (1170 - 920)));
				}
				@include _920 {
					font-size: calc(14px + (18 - 14) * ((100vw - 490px) / (920 - 490)));
				}
			}
		}
		p:nth-child(2) {
			display: inline;
			color: #fff;
			padding: 0 7px;
			background-color: rgba(0, 0, 0, 0.36);
		}
		p:nth-child(3) {
			span {
				color: #979797;
			}
		}
	}

	// .content-mainslider__footer
	&__footer {
		text-align: center;
	}

	// .content-mainslider__price
	&__price {
		font: {
			size: 3.6rem; /* 36/12 */
			weight: 900;
		}
		@include _425 {
			font-size: 2.4rem;
		}

		margin-bottom: 20px;
		color: #f65738;
		span {
			text-transform: uppercase;
		}
		@include _920-1170 {
			margin-bottom: calc(10px + (20 - 10) * ((100vw - 920px) / (1170 - 920)));
			font-size: calc(28px + (36 - 28) * ((100vw - 920px) / (1170 - 920)));
		}
		@include _490-920 {
			font-size: calc(20px + (36 - 20) * ((100vw - 490px) / (920 - 490)));
			margin-bottom: calc(10px + (20 - 10) * ((100vw - 490px) / (920 - 490)));
		}
		@include _490 {
			margin-bottom: 5px;
		}
	}

	// .content-mainslider__button
	&__button {
		padding: 5px 10px 5px 22px;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		span {
			padding-right: 11px;
		}
		font: {
			size: 116.666667%; /* 14/12 */
			weight: 900;
		}
		@include _920 {
			font-size: calc(12px + (14 - 12) * ((100vw - 490px) / (920 - 490)));
			padding: calc(2px + (5 - 2) * ((100vw - 490px) / (920 - 490))) 10px
				calc(2px + (5 - 2) * ((100vw - 490px) / (920 - 490)))
				calc(12px + (15 - 12) * ((100vw - 490px) / (920 - 490)));
		}
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0);
		border: 3px solid #f65738;
		border-radius: 33px;
		// line-height: 200%; /* 24/12 */
		text-transform: uppercase;
		color: #f65738;
		transition: transform 0.3s ease 0s;
	}
}
