.menu-page {
	background: #0098ac url('../img/main/bg_menu.png') top repeat;

	@include _920 {
		&._open {
			.submenu-page__item {
				border: none;
				box-shadow: 0px 0px 30px 25px hsla(0, 0%, 0%, 0.4);
			}
		}
	}

	// .menu-page__title
	&__title {
		@include flex-align-center-justify-space-between;
		line-height: 1.2;
		padding: 2rem;
		cursor: pointer;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		background: url('../img/main/bg_menu_title.png') top;
		object-fit: cover;
		@include _490 {
			padding: 0.7rem 2rem;
		}

		h1 {
			z-index: 1;
			font: {
				family: 'UniSansHeavyCaps', sans-serif;
				size: 3rem;
				weight: 900;
			}

			padding-right: 1.5rem;
			word-spacing: 0.7rem;
			@include _490-920 {
				font-size: calc(24px + (30 - 24) * ((100vw - 320px) / (920 - 320)));
			}
			@include _490 {
				font-size: 2rem;
			}
		}

		&:hover {
			.side-wrap {
				background-color: #04626e;
			}
		}
	}

	// .menu-page__list
	&__list {
		> li:not(:last-child) {
			border-bottom: 1px solid #1aa7b9;
		}

		> li:last-child {
			padding-bottom: 0.7rem;
		}
	}

	// .menu-page__parent
	&__parent {
		// .menu-page__link
		.menu-page__link {
			@include flex-align-center-justify-space-between;

			.icon-angles-right-solid {
				display: flex;
				transition: all 0.4s ease 0s;
				&::before {
					font-size: 1.4rem;
				}
			}
		}

		&._open {
			// .submenu-page__item
			.submenu-page__item {
				display: block;
				@include _min-920 {
					transform: translate(0px, 0px);
					opacity: 1;
				}
			}
			.icon-angles-right-solid {
				transform: rotate(180deg);
				&::before {
					color: $orange;
				}
			}

			// .menu-page__submenu
			.menu-page__submenu {
				pointer-events: all;
			}
		}
	}

	// .menu-page__link
	&__link {
		font: {
			size: 1.2rem;
			weight: 300;
		}

		position: relative;
		display: block;
		padding: 1.2rem 2rem;
		letter-spacing: 0.025em;
		@include _min-920 {
			&:hover {
				background-color: rgb(8, 133, 148);
			}
		}
		@include _920 {
			font-size: 1.4rem;
		}
	}

	// .menu-page__submenu
	&__submenu {
		@include _min-920 {
			position: absolute;
			top: 0;
			left: 100%;
			overflow: hidden;
			width: 280px;
			height: 100%;
			pointer-events: none;
		}
	}
}

.submenu-page {
	// .submenu-page__item
	&__item {
		background: #fff;
		@include _min-920 {
			position: absolute;
			z-index: 8;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0 3rem 0 2.6rem;
			transition: all 0.5s ease-in-out;
			transform: translate(-100%, 0px);
			opacity: 0;
			border: 2px solid #098494;
			background-color: #fff;
		}
	}

	// .submenu-page__menu
	&__menu {
		padding: 2rem 0;
		border-bottom: 1px solid #dedede;
	}

	// .submenu-page__link
	&__link {
		font: {
			size: 1.2rem;
			weight: 400;
		}

		display: block;
		padding: 1rem 0 1rem 1.5rem;
		letter-spacing: 0.025em;
		color: #1ab9ce;

		@include _min-920 {
			&:hover {
				color: #fff;
				background-color: #71c7d3;
			}
		}
		@include _920 {
			font-size: 1.4rem;
			padding: 0.5rem 0 0.5rem 1.5rem;
		}
	}

	// .submenu-page__product
	&__product {
		@include _920 {
			display: none;
		}

		.card-name__title {
			padding-bottom: 3rem;
		}

		.item-product {
			border: none;
			// .item-product__labels
			&__labels {
				position: absolute;
				margin: 1rem 0;
			}

			// .item-product__label
			&__label {
				font: {
					size: 1.4rem;
					weight: 900;
				}
				@include flex-align-center-justify-center;
				height: 2.1rem;
				margin-bottom: 0.5rem;
				padding: 0 1.5rem;
				text-transform: uppercase;
				border-radius: 2.1rem;
				background-color: #fd8424;
			}
		}
	}
}
