.main {
	flex: 1 1 100%;
	margin-bottom: 30px;
	text-align: center;
	color: darkcyan;
	background: $body-color;

	.title {
		text-transform: uppercase;

		font: {
			size: 40px;
			weight: 800;
		}

		color: #ef5f0c;
		letter-spacing: 0.013em;
		margin-bottom: 35px;
	}

	img {
		height: 100%;
		object-fit: cover;
	}

	a {
		color: red;
	}

	.news-item {
		h2 {
			margin-bottom: 10px;
			color: darkcyan;
		}

		p {
			text-align: justify;

			font: {
				family: 'Play', sans-serif;
				size: 16px;
				weight: 400;
			}

			color: rgba(0, 255, 255, 0.747);
		}

		&:not(:last-child) {
			margin-bottom: 35px;
		}
	}
}