<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="Краткое описание документа." name="description">
	<meta content="keywords-ключевые слова для поиска" name="keywords">
	<link rel="icon" href="img/icons/gulp_logo.png" type="image/icon" />
	<link href="@@webRoot/css/style.css" rel="stylesheet" type="text/css" />
	<script defer="defer" type="text/javascript" src="@@webRoot/js/app.js"></script>
	<script defer="defer" type="text/javascript" src="@@webRoot/js/anime.js"></script>
	<script defer="defer" type="text/javascript" src="@@webRoot/js/main.js"></script>
	<title>@@title</title>
</head>